SCENTIQ_ENV=production
AZURE_STORAGE_ACCOUNT_URL=https://REPLACE_WITH_ACCOUNT.blob.core.windows.net/
AZURE_TOKEN_CREDENTIALS=ManagedIdentityCredential
IMDS_ENDPOINT=http://localhost:40342
IDENTITY_ENDPOINT=http://localhost:40342/metadata/identity/oauth2/token
